# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/jetClient
go.sum
/.idea/git_toolbox_prj.xml

# Binaries

*.exe
*.dll
*.dylib

# Test Binary

*.test

# Coverage

*.out

Db folter

db/
/.idea/dataSources.xml
